<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="Suite list" verbose="10">
<listeners>
		<listener class-name="com.mysauce.reports.ExtentReportListener"/>
	</listeners>
  <test name="Chrometest">
    <parameter name="browser" value="chrome"> 
    <classes>
      <class name="com.mysauce.testcases.TClogin"/>
    </classes>
    </parameter>
  </test> <!-- Test -->
</suite> <!-- Suite -->
